/* ~~~ top.html ~~~ */
#TopHeader{
	margin-right: 5%;
	margin-left: 5%;
	padding: 5pt;
}
#TopHeader > div > a{
	color: white;
}
#TopHeader > ul > li > a{
	color: white;
}

/* ~~~ bottom.html ~~~ */
#Footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
	background-color: black;
	color: white;
    text-align: center;
}
/* ~~~ AboutUs.php ~~~ */
.containerAboutUs{
	position: relative;
	margin: auto;
}

.containerAboutUs > div{
	margin-bottom: 10px;
}

.containerAboutUs > div > h1, h2, p{
	float: left;
	text-align: left;
}

/* ~~~ Login.php ~~~ */
.container{
	margin: auto;
	width: 40%;
	height: 50%;
	text-align: center
}
.containerLogin{
	position: relative;
	margin: auto;
}
.containerLogin > div{
	margin-bottom: 10px;
}
.containerLogin > div > input[type=text], input[type=password]{
	background-color: #F7F7F7;	
	outline: none;
	border-width: 0px;
	width: 100%;
	height: 40px;	
}
.containerLogin > div > input[type="checkbox"]{
	margin-left: 5px;
	float:right;
}
.containerLogin > div >input[type=text]::placeholder, input[type=password]::placeholder{
	color: lightgray;
	padding-left: 10px;
}

.containerLogin > div> input[type="submit"]{
	color: black;
	background-color: #E8A943;
	width: 100%;
	height: 50px;
	font-size: 15pt;
}

.containerLogin > div> input[type="submit"]:hover{
	background-color: #CF9539;
}

.containerLogin > div > a, p{
	float: left;
}
.floatRight
{
	float: right;
}




