body{
	background-color: #f5f2e8;
	padding-bottom: 4%;
}

/* ~~~ top.html ~~~ */
#TopHeader{
	margin-right: 5%;
	margin-left: 5%;
}
#TopHeader > div > a{
	color: black;
}
#TopHeader > ul > li > a{
	color: black;
}

/* ~~~ bottom.html ~~~ */
#Footer{
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3%;
	color: black;
    text-align: center;
}

/* ~~~ Index.php ~~~ */
#main-header{
	color: black;

}
#title{
	font-weight: bolder;
	font-size: 16.5vh;
	vertical-align: middle;
}

#title-2{
	margin-top: 10px
}

.title-3{
	font-weight: bolder;
}

#main-container > .row{
	padding-bottom: 10px;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
}

.tile{
	height: 250px;
	box-shadow: 2px 2px 5px 0 grey;
}

.photo-container{
	display: inline-block;
	width: 40%;
	height: 100%;
	overflow-x:hidden;
}

.text-container{
	display: inline-block;
	position: absolute;
	width: 57%;
	height: 100%;
	padding-left: 1%;
	padding-right: 2%;
}

.text-container > h3, .text-container > p{

}

.blog-photo{
	height: 100%;
}

.modal-header{
	text-align: center;
}

.modal-img{
	display: block;
	margin: 0px auto;
}


/* ~~~ AboutUs.php ~~~ */
.containerAboutUs{
	margin-top: 5%;
	margin-left: 6%;
	margin-right: 6%;
	background-color: lightgray;
	border-radius: 5px;
	overflow: auto;
	padding: 10px;
}

.containerAboutUs > div{
	margin-bottom: 10px;
}

.containerAboutUs > div > h1, .containerAboutUs > div > h2, .containerAboutUs > div > p{
	float: left;
	text-align: left;
}

/* ~~~ Login.php ~~~ */
#loginError{
	color: red;
}
.request{
	position: relative;
	margin: auto;
	width: 50%;
	height: 50%;
	text-align: center
}

.containerLogin{
	position: relative;
	margin: auto;
	width: 40%;
	height: 50%;
	text-align: center
}
.containerLogin > div{
	margin-bottom: 10px;
}
.containerLogin > div > input[type=text], input[type=password]{
	background-color: #F7F7F7;
	outline: none;
	border-width: 0px;
	width: 100%;
	height: 40px;
	font-size: 20px;
}
.containerLogin > div > input[type="checkbox"]{
	margin-left: 5px;
	float:right;
}
.containerLogin > div >input[type=text]::placeholder, input[type=password]::placeholder{
	color: lightgray;
	padding-left: 10px;
}

.containerLogin > div> input[type="submit"]{
	color: black;
	background-color: #E8A943;
	width: 100%;
	height: 50px;
	font-size: 15pt;
}

.containerLogin > div> input[type="submit"]:hover{
	background-color: #CF9539;
}

.containerLogin > div > a, p{
	float: left;
}
.floatRight
{
	float: right;
}

/* ~~~ RawData.php ~~~ */
.DownloadPage{
	position: relative;
	margin: auto;
	width: 40%;
	height: 50%;
}
.DownloadPage > a{
	font-size: 15pt;
}
