.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  

.modal-body {
      padding: 2px 16px;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.modalForm{
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	position: relative;
	margin: auto;
	width: 40%;
	height: 50%;
    text-align: center !important;
    background-color: lightgrey;
}
.modalForm > div{
	margin-bottom: 10px;
}
.modalForm > div > input[type=text]{
	background-color: #F7F7F7;
	outline: none;
	border-width: 0px;
	width: 90%;
	height: 40px;
	font-size: 20px;
}
.modalForm > div > input[type="checkbox"]{
	margin-left: 5px;
	float:right;
}
.modalForm > div >input[type=text]::placeholder{
	color: lightgray;
	padding-left: 10px;
}

.modalForm > div > div > input[type="submit"], button[type="button"]{
	color: black;
    background-color: #E8A943;
    border-color: #E8A943;
	width: 90%;
	height: 50px;
	font-size: 15pt;
}

.modalForm > div > div > input[type="submit"]:hover, button[type="button"]{
    background-color: #CF9539;
    border-color:  #CF9539;
}
